body {
    background: url('../img/table.png');
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 150%;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}
button{
    background: goldenrod;
    border-radius: 2px;
    border-style: hidden;
    min-width:  200px;
    max-width: 250px;
    font-size: 100%;
    color: #016f32;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 10px;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
